$primary-color: #C9453B;

@import "header";
@import "main";
@import "location";
@import "blog";
@import "footer";

@mixin font_500($property) {
  font-family: $property, serif;
  font-weight: 500;
  text-align: center;
  line-height: 140%;
}
@mixin font_700($property) {
    font-family: $property;
    font-weight: 700;
    text-align: center;
    line-height: 150%;
}

%flex-center{
    display: flex;
    align-items: center;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #000000;
}
  
a {
    text-decoration: none;
    color: #FFFFFF;
}
  
.logo {
    font-family: "Ribeye";
    font-size: 24px;
    line-height: 150%;
}
  
.container {
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    padding: 14px 34px 13px 36px;
    background: $primary-color;
    border-radius: 5px;
}
  
.btn:hover, .main__btn:hover {
    background-color: #a7362e;
}

